﻿
#-------------------#
<homogenization>
#-------------------#

[SX]
type	 isostrain
Ngrains	 1
initialT 293.0 #changed from 123.0
mech	 none
damage   local
(output) damage

#-------------------#
<crystallite>
#-------------------#
[almostAll]
 (output) phase
 (output) texture
 (output) volume
 (output) orientation    # quaternion
 (output) eulerangles    # orientation as Bunge triple
 (output) grainrotation  # deviation from initial orientation as axis (1-3) and angle in degree (4)
 (output) f              # deformation gradient tensor; synonyms: "defgrad"
 (output) fe             # elastic deformation gradient tensor
 (output) fp             # plastic deformation gradient tensor
(output) e              # total strain as Green-Lagrange tensor 
(output) ee             # elastic strain as Green-Lagrange tensor 
 (output) p              # first Piola-Kichhoff stress tensor; synonyms: "firstpiola", "1stpiola"
(output) lp             # plastic velocity gradient tensor


#-------------------#
<phase>
#-------------------#
/echo/

[TWIP steel FeMnC]

elasticity          hooke
plasticity          dislotwin

(output)           edge_density
(output)           dipole_density
(output)           shear_rate_slip
(output)           accumulated_shear_slip
(output)           mfp_slip
(output)           resolved_stress_slip
(output)           threshold_stress_slip
(output)           twin_fraction
(output)           shear_rate_twin
(output)           accumulated_shear_twin
(output)           mfp_twin
(output)           resolved_stress_twin
(output)           threshold_stress_twin
(output)           shear_rate_shearband	
(output)           resolved_stress_shearband	
(output)           sb_eigenvalues
(output)           sb_eigenvectors
(output)           stress_trans_fraction
(output)           strain_trans_fraction
(output)           total_trans_fraction

### Material parameters ###
lattice_structure	  fcc
C11                   175.0e9       # From Music et al. Applied Physics Letters 91, 191904 (2007)
C12                   115.0e9
C44                   135.0e9
grainsize             1.8e-5        # Average grain size [m]
SolidSolutionStrength 5.0e7         #CF 2.5e8 #Strength due to elements in solid solution

### Dislocation glide parameters ###
Nslip               12
slipburgers         2.56e-10        # Burgers vector of slip system [m]
rhoedgedip0         1.0             # Initial dislocation density [m/m**3]
rhoedge0            1.0e12          # Initial dislocation density [m/m**3]
v0                  1.0e-4          # Initial glide velocity [m/s]
Qedge               3.5e-19         # Activation energy for dislocation glide [J]
p_slip              1.15            # p-exponent in glide velocity
q_slip              1.0             # q-exponent in glide velocity

### Hardening of glide ###
CLambdaSlip         55.0            # Adj. parameter controlling dislocation mean free path #CF 45.0
D0                  4.0e-5          # Vacancy diffusion prefactor [m**2/s]
Qsd                 3.0e-19         # Activation energy for climb [J]
Catomicvolume       1.5             # Adj. parameter controlling the atomic volume [in b]
Cedgedipmindistance 2.0             # Adj. parameter controlling the minimum dipole distance [in b]
atol_rho            1.0
interactionSlipSlip 0.122 0.122 0.625 0.07 0.137 0.122 # Interaction coefficients (Kubin et al. 2008)

### Shearband parameters ###
#shearbandresistance 180e6
#shearbandvelocity   1e-4            # set to zero to turn shear banding of
#QedgePerSbSystem    3.7e-19         # Activation energy for shear banding [J]
#p_shearband         1.0             # p-exponent in glide velocity
#q_shearband         1.0             # q-exponent in glide velocity

### Twinning parameters ###
Ntwin               12
twinburgers         1.2e-10         # Burgers vector of twin system [m]
twinsize            5.0e-8          # Twin stack mean thickness [m]	
L0_twin             500.0           # Length of twin nuclei in Burgers vectors
maxtwinfraction     1.0             # Maximum admissible twin volume fraction
Ndot0               0.0             # Number of potential sources per volume per time [1/m**3.s] 
xc_twin             1.0e-9          # critical distance for formation of twin nucleus
VcrossSlip          1.67e-29        # cross slip volume
r_twin	            1.0             # r-exponent in twin formation probability
Cmfptwin            5.0             # Adj. parameter controlling twin mean free path
Cthresholdtwin      1.3             # Adj. parameter controlling twin threshold stress
interactionSlipTwin 0.0 0.1 0.1     # Dislocation-Twin interaction coefficients
interactionTwinTwin 5.0 5.0         # Twin-Twin interaction coefficients
atol_twinFrac       1.0e-7
SFE_0K              0.01         # stacking fault energy at zero K; TWIP steel: -0.0526; Cu: -0.0396
#dSFE_dT             0.00037336      # temperature dependance of stacking fault energy
#SFE                  0.0171

### TRIP-based constitutive parameters ###
trans_lattice_structure   hcp
Ntrans                    12        	# number of transformation systems
c/a_trans                 1.628
lamellarsize              5.0e-8   	 # martensite lamellar thickness [m] # CF 10.0e-8
deltaG                    -2.5365e7	#CF -5.5365e7
transStackHeight          1.06e-09
transburgers              1.47e-10
L0_trans                  500.0   	 # Length of hcp nuclei in Burgers vectors
s_trans			  3.0		# ß-exponent in transformation formation probability # changed from 5.0
VcrossSlip                1.67e-29  	# cross slip volume
xc_trans                  1.0e-9	# critical distance for formation of trip nucleus
Cmfptrans                 20.0		# Adj. parameter controlling trans mean free path #changed from 20.0
Cthresholdtrans           0.5      	# Adj. parameter controlling trans threshold stress
CdeltaG                   1.0
interactionSlipTrans      0.0 0.1 0.1     # Dislocation-trans interaction coefficients
interactionTransTrans     0.5 0.5         # Trans-trans interaction coefficients
atol_transFrac            1.0e-6

(stiffness_degradation) damage
damage_diffusion11      1.0	#CF 1.0		#better results at 20.0
damage_mobility         0.001	#CF 0.001	#better results at 0.01	

(source) damage_isoductile
isoductile_criticalplasticstrain 0.9
isoductile_ratesensitivity       35
isoductile_atol                  0.001

[Mg-PSZ]

elasticity          hooke
plasticity          none

### Material parameters ###
lattice_structure     isotropic
C11                   191.0e9      
C12                   80.0e9
C44                   40.0e9
(output) totalshear

(stiffness_degradation) damage
damage_diffusion11      1.0
damage_mobility         0.001

(source) damage_isobrittle
isobrittle_criticalstrainenergy 1.0e8
isobrittle_atol 0.001

<texture>
[grain1]
(gauss) phi1 9.496   Phi 131.071    phi2 269.263   scatter 0.0   fraction 1.0 
[grain2]
(gauss) phi1 327.374   Phi 124.567    phi2 307.070   scatter 0.0   fraction 1.0 
[grain3]
(gauss) phi1 20.038   Phi 50.280    phi2 283.642   scatter 0.0   fraction 1.0 
[grain4]
(gauss) phi1 27.711   Phi 90.096    phi2 181.953   scatter 0.0   fraction 1.0 
[grain5]
(gauss) phi1 312.852   Phi 58.193    phi2 123.797   scatter 0.0   fraction 1.0 
[grain6]
(gauss) phi1 144.818   Phi 58.877    phi2 144.645   scatter 0.0   fraction 1.0 
[grain7]
(gauss) phi1 9.700   Phi 104.850    phi2 166.851   scatter 0.0   fraction 1.0 
[grain8]
(gauss) phi1 295.848   Phi 18.384    phi2 8.664   scatter 0.0   fraction 1.0 
[grain9]
(gauss) phi1 197.014   Phi 130.487    phi2 43.586   scatter 0.0   fraction 1.0 
[grain10]
(gauss) phi1 156.572   Phi 63.983    phi2 198.602   scatter 0.0   fraction 1.0 
[grain11]
(gauss) phi1 62.504   Phi 102.385    phi2 187.950   scatter 0.0   fraction 1.0 
[grain12]
(gauss) phi1 98.731   Phi 67.199    phi2 71.392   scatter 0.0   fraction 1.0 
[grain13]
(gauss) phi1 224.213   Phi 163.622    phi2 130.148   scatter 0.0   fraction 1.0 
[grain14]
(gauss) phi1 313.201   Phi 122.015    phi2 302.749   scatter 0.0   fraction 1.0 
[grain15]
(gauss) phi1 234.351   Phi 45.374    phi2 44.062   scatter 0.0   fraction 1.0 
[grain16]
(gauss) phi1 62.321   Phi 131.939    phi2 201.305   scatter 0.0   fraction 1.0 
[grain17]
(gauss) phi1 50.188   Phi 102.387    phi2 312.922   scatter 0.0   fraction 1.0 
[grain18]
(gauss) phi1 279.775   Phi 131.699    phi2 242.223   scatter 0.0   fraction 1.0 
[grain19]
(gauss) phi1 228.688   Phi 105.611    phi2 185.483   scatter 0.0   fraction 1.0 
[grain20]
(gauss) phi1 202.015   Phi 150.091    phi2 116.947   scatter 0.0   fraction 1.0 
[grain21]
(gauss) phi1 330.002   Phi 34.424    phi2 179.377   scatter 0.0   fraction 1.0 
[grain22]
(gauss) phi1 83.295   Phi 82.537    phi2 270.365   scatter 0.0   fraction 1.0 
[grain23]
(gauss) phi1 181.350   Phi 88.045    phi2 325.664   scatter 0.0   fraction 1.0 
[grain24]
(gauss) phi1 236.854   Phi 131.384    phi2 337.877   scatter 0.0   fraction 1.0 
[grain25]
(gauss) phi1 155.128   Phi 98.464    phi2 277.943   scatter 0.0   fraction 1.0 
[grain26]
(gauss) phi1 347.161   Phi 117.018    phi2 98.146   scatter 0.0   fraction 1.0 
[grain27]
(gauss) phi1 249.087   Phi 109.150    phi2 210.759   scatter 0.0   fraction 1.0 
[grain28]
(gauss) phi1 254.030   Phi 162.004    phi2 220.914   scatter 0.0   fraction 1.0 
[grain29]
(gauss) phi1 92.710   Phi 88.344    phi2 326.223   scatter 0.0   fraction 1.0 
[grain30]
(gauss) phi1 167.865   Phi 139.853    phi2 166.298   scatter 0.0   fraction 1.0 
[grain31]
(gauss) phi1 169.932   Phi 136.473    phi2 310.189   scatter 0.0   fraction 1.0 
[grain32]
(gauss) phi1 295.795   Phi 50.798    phi2 249.351   scatter 0.0   fraction 1.0 
[grain33]
(gauss) phi1 194.847   Phi 161.148    phi2 95.865   scatter 0.0   fraction 1.0 
[grain34]
(gauss) phi1 87.381   Phi 50.176    phi2 264.709   scatter 0.0   fraction 1.0 
[grain35]
(gauss) phi1 332.211   Phi 75.839    phi2 234.948   scatter 0.0   fraction 1.0 
[grain36]
(gauss) phi1 238.733   Phi 64.947    phi2 289.666   scatter 0.0   fraction 1.0 
[grain37]
(gauss) phi1 226.852   Phi 103.733    phi2 106.577   scatter 0.0   fraction 1.0 
[grain38]
(gauss) phi1 236.473   Phi 132.126    phi2 74.506   scatter 0.0   fraction 1.0 
[grain39]
(gauss) phi1 305.156   Phi 144.952    phi2 298.603   scatter 0.0   fraction 1.0 
[grain40]
(gauss) phi1 16.492   Phi 58.229    phi2 261.378   scatter 0.0   fraction 1.0 
[grain41]
(gauss) phi1 304.655   Phi 143.778    phi2 292.704   scatter 0.0   fraction 1.0 
[grain42]
(gauss) phi1 297.119   Phi 32.233    phi2 301.036   scatter 0.0   fraction 1.0 
[grain43]
(gauss) phi1 100.177   Phi 33.643    phi2 46.693   scatter 0.0   fraction 1.0 
[grain44]
(gauss) phi1 189.249   Phi 9.571    phi2 141.544   scatter 0.0   fraction 1.0 
[grain45]
(gauss) phi1 284.145   Phi 154.654    phi2 326.419   scatter 0.0   fraction 1.0 
[grain46]
(gauss) phi1 305.178   Phi 54.035    phi2 47.226   scatter 0.0   fraction 1.0 
[grain47]
(gauss) phi1 305.913   Phi 51.785    phi2 240.585   scatter 0.0   fraction 1.0 
[grain48]
(gauss) phi1 263.312   Phi 149.420    phi2 105.406   scatter 0.0   fraction 1.0 
[grain49]
(gauss) phi1 0.207   Phi 102.744    phi2 285.553   scatter 0.0   fraction 1.0 
[grain50]
(gauss) phi1 219.757   Phi 142.876    phi2 38.105   scatter 0.0   fraction 1.0 
[grain51]
(gauss) phi1 137.495   Phi 108.127    phi2 279.455   scatter 0.0   fraction 1.0 
[grain52]
(gauss) phi1 60.663   Phi 132.637    phi2 355.519   scatter 0.0   fraction 1.0 
[grain53]
(gauss) phi1 336.136   Phi 64.162    phi2 219.797   scatter 0.0   fraction 1.0 
[grain54]
(gauss) phi1 238.702   Phi 163.388    phi2 71.565   scatter 0.0   fraction 1.0 
[grain55]
(gauss) phi1 282.931   Phi 66.775    phi2 0.970   scatter 0.0   fraction 1.0 
[grain56]
(gauss) phi1 190.695   Phi 104.058    phi2 59.179   scatter 0.0   fraction 1.0 
[grain57]
(gauss) phi1 252.303   Phi 17.170    phi2 23.635   scatter 0.0   fraction 1.0 
[grain58]
(gauss) phi1 199.030   Phi 131.677    phi2 124.699   scatter 0.0   fraction 1.0 
[grain59]
(gauss) phi1 220.591   Phi 112.173    phi2 186.503   scatter 0.0   fraction 1.0 
[grain60]
(gauss) phi1 267.353   Phi 138.388    phi2 305.314   scatter 0.0   fraction 1.0 
[grain61]
(gauss) phi1 40.782   Phi 112.646    phi2 106.281   scatter 0.0   fraction 1.0 
[grain62]
(gauss) phi1 347.053   Phi 72.535    phi2 186.067   scatter 0.0   fraction 1.0 
[grain63]
(gauss) phi1 218.995   Phi 110.237    phi2 237.117   scatter 0.0   fraction 1.0 
[grain64]
(gauss) phi1 136.179   Phi 95.901    phi2 228.818   scatter 0.0   fraction 1.0 
[grain65]
(gauss) phi1 31.050   Phi 143.554    phi2 76.410   scatter 0.0   fraction 1.0 
[grain66]
(gauss) phi1 355.437   Phi 32.180    phi2 27.394   scatter 0.0   fraction 1.0 
[grain67]
(gauss) phi1 75.434   Phi 137.034    phi2 75.651   scatter 0.0   fraction 1.0 
[grain68]
(gauss) phi1 201.407   Phi 86.650    phi2 98.184   scatter 0.0   fraction 1.0 
[grain69]
(gauss) phi1 270.563   Phi 47.677    phi2 204.097   scatter 0.0   fraction 1.0 
[grain70]
(gauss) phi1 218.720   Phi 100.783    phi2 300.859   scatter 0.0   fraction 1.0 
[grain71]
(gauss) phi1 281.983   Phi 156.170    phi2 118.086   scatter 0.0   fraction 1.0 
[grain72]
(gauss) phi1 53.908   Phi 69.072    phi2 328.776   scatter 0.0   fraction 1.0 
[grain73]
(gauss) phi1 291.643   Phi 116.965    phi2 166.006   scatter 0.0   fraction 1.0 
[grain74]
(gauss) phi1 238.393   Phi 134.617    phi2 248.813   scatter 0.0   fraction 1.0 
[grain75]
(gauss) phi1 37.493   Phi 87.367    phi2 117.136   scatter 0.0   fraction 1.0 
[grain76]
(gauss) phi1 337.090   Phi 80.368    phi2 316.240   scatter 0.0   fraction 1.0 
[grain77]
(gauss) phi1 338.142   Phi 142.811    phi2 287.543   scatter 0.0   fraction 1.0 
[grain78]
(gauss) phi1 134.843   Phi 44.537    phi2 287.889   scatter 0.0   fraction 1.0 
[grain79]
(gauss) phi1 300.952   Phi 133.852    phi2 90.307   scatter 0.0   fraction 1.0 
[grain80]
(gauss) phi1 252.175   Phi 134.308    phi2 342.857   scatter 0.0   fraction 1.0 
[grain81]
(gauss) phi1 230.969   Phi 103.742    phi2 67.241   scatter 0.0   fraction 1.0 
[grain82]
(gauss) phi1 16.398   Phi 11.721    phi2 256.647   scatter 0.0   fraction 1.0 
[grain83]
(gauss) phi1 302.851   Phi 79.239    phi2 179.856   scatter 0.0   fraction 1.0 
[grain84]
(gauss) phi1 145.455   Phi 68.539    phi2 217.390   scatter 0.0   fraction 1.0 
[grain85]
(gauss) phi1 190.613   Phi 44.145    phi2 303.505   scatter 0.0   fraction 1.0 
[grain86]
(gauss) phi1 234.535   Phi 133.758    phi2 82.633   scatter 0.0   fraction 1.0 
[grain87]
(gauss) phi1 189.951   Phi 131.627    phi2 94.906   scatter 0.0   fraction 1.0 
[grain88]
(gauss) phi1 86.379   Phi 43.230    phi2 323.858   scatter 0.0   fraction 1.0 
[grain89]
(gauss) phi1 116.452   Phi 38.378    phi2 303.535   scatter 0.0   fraction 1.0 
[grain90]
(gauss) phi1 72.266   Phi 166.815    phi2 116.447   scatter 0.0   fraction 1.0 
[grain91]
(gauss) phi1 66.446   Phi 27.559    phi2 240.803   scatter 0.0   fraction 1.0 
[grain92]
(gauss) phi1 125.686   Phi 99.451    phi2 197.189   scatter 0.0   fraction 1.0 
[grain93]
(gauss) phi1 71.160   Phi 86.546    phi2 73.909   scatter 0.0   fraction 1.0 
[grain94]
(gauss) phi1 29.539   Phi 80.819    phi2 130.070   scatter 0.0   fraction 1.0 
[grain95]
(gauss) phi1 315.786   Phi 114.061    phi2 104.113   scatter 0.0   fraction 1.0 
[grain96]
(gauss) phi1 172.055   Phi 103.041    phi2 92.871   scatter 0.0   fraction 1.0 
[grain97]
(gauss) phi1 214.841   Phi 64.355    phi2 62.427   scatter 0.0   fraction 1.0 
[grain98]
(gauss) phi1 143.642   Phi 152.187    phi2 7.428   scatter 0.0   fraction 1.0 
<microstructure>
[grain1]
crystallite 1
(constituent)   phase 1 texture 1 fraction 1.0
[grain2]
crystallite 1
(constituent)   phase 1 texture 2 fraction 1.0
[grain3]
crystallite 1
(constituent)   phase 1 texture 3 fraction 1.0
[grain4]
crystallite 1
(constituent)   phase 1 texture 4 fraction 1.0
[grain5]
crystallite 1
(constituent)   phase 1 texture 5 fraction 1.0
[grain6]
crystallite 1
(constituent)   phase 1 texture 6 fraction 1.0
[grain7]
crystallite 1
(constituent)   phase 1 texture 7 fraction 1.0
[grain8]
crystallite 1
(constituent)   phase 1 texture 8 fraction 1.0
[grain9]
crystallite 1
(constituent)   phase 1 texture 9 fraction 1.0
[grain10]
crystallite 1
(constituent)   phase 1 texture 10 fraction 1.0
[grain11]
crystallite 1
(constituent)   phase 1 texture 11 fraction 1.0
[grain12]
crystallite 1
(constituent)   phase 1 texture 12 fraction 1.0
[grain13]
crystallite 1
(constituent)   phase 1 texture 13 fraction 1.0
[grain14]
crystallite 1
(constituent)   phase 1 texture 14 fraction 1.0
[grain15]
crystallite 1
(constituent)   phase 1 texture 15 fraction 1.0
[grain16]
crystallite 1
(constituent)   phase 1 texture 16 fraction 1.0
[grain17]
crystallite 1
(constituent)   phase 1 texture 17 fraction 1.0
[grain18]
crystallite 1
(constituent)   phase 1 texture 18 fraction 1.0
[grain19]
crystallite 1
(constituent)   phase 1 texture 19 fraction 1.0
[grain20]
crystallite 1
(constituent)   phase 1 texture 20 fraction 1.0
[grain21]
crystallite 1
(constituent)   phase 1 texture 21 fraction 1.0
[grain22]
crystallite 1
(constituent)   phase 1 texture 22 fraction 1.0
[grain23]
crystallite 1
(constituent)   phase 1 texture 23 fraction 1.0
[grain24]
crystallite 1
(constituent)   phase 1 texture 24 fraction 1.0
[grain25]
crystallite 1
(constituent)   phase 1 texture 25 fraction 1.0
[grain26]
crystallite 1
(constituent)   phase 1 texture 26 fraction 1.0
[grain27]
crystallite 1
(constituent)   phase 1 texture 27 fraction 1.0
[grain28]
crystallite 1
(constituent)   phase 1 texture 28 fraction 1.0
[grain29]
crystallite 1
(constituent)   phase 1 texture 29 fraction 1.0
[grain30]
crystallite 1
(constituent)   phase 1 texture 30 fraction 1.0
[grain31]
crystallite 1
(constituent)   phase 1 texture 31 fraction 1.0
[grain32]
crystallite 1
(constituent)   phase 1 texture 32 fraction 1.0
[grain33]
crystallite 1
(constituent)   phase 1 texture 33 fraction 1.0
[grain34]
crystallite 1
(constituent)   phase 1 texture 34 fraction 1.0
[grain35]
crystallite 1
(constituent)   phase 1 texture 35 fraction 1.0
[grain36]
crystallite 1
(constituent)   phase 1 texture 36 fraction 1.0
[grain37]
crystallite 1
(constituent)   phase 1 texture 37 fraction 1.0
[grain38]
crystallite 1
(constituent)   phase 1 texture 38 fraction 1.0
[grain39]
crystallite 1
(constituent)   phase 1 texture 39 fraction 1.0
[grain40]
crystallite 1
(constituent)   phase 1 texture 40 fraction 1.0
[grain41]
crystallite 1
(constituent)   phase 1 texture 41 fraction 1.0
[grain42]
crystallite 1
(constituent)   phase 1 texture 42 fraction 1.0
[grain43]
crystallite 1
(constituent)   phase 1 texture 43 fraction 1.0
[grain44]
crystallite 1
(constituent)   phase 1 texture 44 fraction 1.0
[grain45]
crystallite 1
(constituent)   phase 1 texture 45 fraction 1.0
[grain46]
crystallite 1
(constituent)   phase 1 texture 46 fraction 1.0
[grain47]
crystallite 1
(constituent)   phase 1 texture 47 fraction 1.0
[grain48]
crystallite 1
(constituent)   phase 1 texture 48 fraction 1.0
[grain49]
crystallite 1
(constituent)   phase 1 texture 49 fraction 1.0
[grain50]
crystallite 1
(constituent)   phase 1 texture 50 fraction 1.0
[grain51]
crystallite 1
(constituent)   phase 1 texture 51 fraction 1.0
[grain52]
crystallite 1
(constituent)   phase 1 texture 52 fraction 1.0
[grain53]
crystallite 1
(constituent)   phase 1 texture 53 fraction 1.0
[grain54]
crystallite 1
(constituent)   phase 1 texture 54 fraction 1.0
[grain55]
crystallite 1
(constituent)   phase 1 texture 55 fraction 1.0
[grain56]
crystallite 1
(constituent)   phase 1 texture 56 fraction 1.0
[grain57]
crystallite 1
(constituent)   phase 1 texture 57 fraction 1.0
[grain58]
crystallite 1
(constituent)   phase 1 texture 58 fraction 1.0
[grain59]
crystallite 1
(constituent)   phase 1 texture 59 fraction 1.0
[grain60]
crystallite 1
(constituent)   phase 1 texture 60 fraction 1.0
[grain61]
crystallite 1
(constituent)   phase 1 texture 61 fraction 1.0
[grain62]
crystallite 1
(constituent)   phase 1 texture 62 fraction 1.0
[grain63]
crystallite 1
(constituent)   phase 1 texture 63 fraction 1.0
[grain64]
crystallite 1
(constituent)   phase 1 texture 64 fraction 1.0
[grain65]
crystallite 1
(constituent)   phase 1 texture 65 fraction 1.0
[grain66]
crystallite 1
(constituent)   phase 1 texture 66 fraction 1.0
[grain67]
crystallite 1
(constituent)   phase 1 texture 67 fraction 1.0
[grain68]
crystallite 1
(constituent)   phase 1 texture 68 fraction 1.0
[grain69]
crystallite 1
(constituent)   phase 1 texture 69 fraction 1.0
[grain70]
crystallite 1
(constituent)   phase 1 texture 70 fraction 1.0
[grain71]
crystallite 1
(constituent)   phase 1 texture 71 fraction 1.0
[grain72]
crystallite 1
(constituent)   phase 1 texture 72 fraction 1.0
[grain73]
crystallite 1
(constituent)   phase 1 texture 73 fraction 1.0
[grain74]
crystallite 1
(constituent)   phase 1 texture 74 fraction 1.0
[grain75]
crystallite 1
(constituent)   phase 1 texture 75 fraction 1.0
[grain76]
crystallite 1
(constituent)   phase 1 texture 76 fraction 1.0
[grain77]
crystallite 1
(constituent)   phase 1 texture 77 fraction 1.0
[grain78]
crystallite 1
(constituent)   phase 1 texture 78 fraction 1.0
[grain79]
crystallite 1
(constituent)   phase 1 texture 79 fraction 1.0
[grain80]
crystallite 1
(constituent)   phase 1 texture 80 fraction 1.0
[grain81]
crystallite 1
(constituent)   phase 1 texture 81 fraction 1.0
[grain82]
crystallite 1
(constituent)   phase 1 texture 82 fraction 1.0
[grain83]
crystallite 1
(constituent)   phase 1 texture 83 fraction 1.0
[grain84]
crystallite 1
(constituent)   phase 1 texture 84 fraction 1.0
[grain85]
crystallite 1
(constituent)   phase 1 texture 85 fraction 1.0
[grain86]
crystallite 1
(constituent)   phase 1 texture 86 fraction 1.0
[grain87]
crystallite 1
(constituent)   phase 1 texture 87 fraction 1.0
[grain88]
crystallite 1
(constituent)   phase 1 texture 88 fraction 1.0
[grain89]
crystallite 1
(constituent)   phase 1 texture 89 fraction 1.0
[grain90]
crystallite 1
(constituent)   phase 1 texture 90 fraction 1.0
[grain91]
crystallite 1
(constituent)   phase 1 texture 91 fraction 1.0
[grain92]
crystallite 1
(constituent)   phase 1 texture 92 fraction 1.0
[grain93]
crystallite 1
(constituent)   phase 1 texture 93 fraction 1.0
[grain94]
crystallite 1
(constituent)   phase 1 texture 94 fraction 1.0
[grain95]
crystallite 1
(constituent)   phase 2 texture 95 fraction 1.0
[grain96]
crystallite 1
(constituent)   phase 2 texture 96 fraction 1.0
[grain97]
crystallite 1
(constituent)   phase 2 texture 97 fraction 1.0
[grain98]
crystallite 1
(constituent)   phase 2 texture 98 fraction 1.0
